#**Selecting Column Painel Cadastro Mestre**

##Importando das bibliotecas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

##Acesso às tabelas

In [ ]:

from google.colab import drive
drive.mount('/content/gdrive/',force_remount=True)
!ls /content/gdrive/

Mounted at /content/gdrive/
MyDrive  Othercomputers  Shareddrives

## Upload Cadastro Mestre - Irecê & Atendimento Individual & Unidades

In [ ]:
cadastro_mestre = pd.read_excel('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/OUTPUT/OURO_PRETO_CADASTRO_MESTRE_PESSOAS_PRODUCAO.xlsx')

In [ ]:
tb_fat_at_ind_2018_2019_2020 = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_fat_atendimento_individual.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)
tb_fat_at_ind_2018_2019_2020 = tb_fat_at_ind_2018_2019_2020.drop_duplicates()

In [ ]:
#tb_fat_at_ind_2019 = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/IRECÊ/PAINEL_IRECE/INPUT/tb_fat_atendimento_individual_2019.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)

In [ ]:
#tb_fat_at_ind = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/IRECÊ/PAINEL_IRECE/INPUT/tb_fat_atendimento_individual_202011181301.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)

In [ ]:
unidades = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_dim_unidade_saude.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)
unidades = unidades.drop_duplicates()

In [ ]:
municipio = pd.read_csv('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/INPUT/tb_dim_municipio.csv',sep=';',engine='python', decimal = ',',keep_default_na=False)
municipio = municipio.drop_duplicates()

## Contagem de linhas e colunas

In [ ]:
cadastro_mestre.shape

(135558, 24)

In [ ]:
tb_fat_at_ind_2018_2019_2020.shape

(859392, 61)

In [ ]:
#tb_fat_at_ind_2019.shape

In [ ]:
#tb_fat_at_ind.shape

In [ ]:
unidades.shape

(49, 3)

In [ ]:
municipio.shape

(1336, 6)

## Processamento (limpeza das bases)

###Cadastro Mestre

In [ ]:
cadastro_mestre.head(5)

   Unnamed: 0  co_fat_cidadao_pec  co_dim_identidade_genero_CP  co_dim_tempo_nascimento  co_dim_sexo_CI  co_dim_unidade_saude_CI  co_dim_municipio_CI  co_dim_tempo  co_dim_identidade_genero_CI     dt_nascimento_CI co_dim_tempo_CI    _mergeA  co_seq_fat_cidadao_territorio  co_fat_familia_territorio    _mergeB  co_fat_cad_domiciliar    _mergeC  co_dim_tipo_localizacao  co_dim_municipio_CD co_dim_tempo_CD     _merge  CO_DIM_IDENTIDADE_GENERO  CO_DIM_SEXO        DT_NASCIMENTO
0           0              694899                          NaN                      NaN             NaN                      NaN                  NaN           NaN                          NaN                  NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                       NaN          NaN                  NaN
1           1              694900                          NaN                      NaN             NaN                      NaN                  NaN           NaN                          NaN                  NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                       NaN          NaN                  NaN
2           2              694901                          NaN                      NaN             NaN                      NaN                  NaN           NaN                          NaN                  NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                       NaN          NaN                  NaN
3           3              749364                          5.0                      NaN             2.0                    498.0               9196.0    20180919.0                          5.0  1992-03-21 00:00:00      2018-09-19       both                      1034258.0                        NaN       both                    NaN  left_only                      NaN                  NaN             NaT  left_only                       5.0          2.0  1992-03-21 00:00:00
4           4              694902                          NaN                      NaN             NaN                      NaN                  NaN           NaN                          NaN                  NaN             NaT  left_only                            NaN                        NaN  left_only                    NaN  left_only                      NaN                  NaN             NaT  left_only                       NaN          NaN                  NaN

In [ ]:
cadastro_mestre.dtypes

Unnamed: 0                                int64
co_fat_cidadao_pec                        int64
co_dim_identidade_genero_CP             float64
co_dim_tempo_nascimento                 float64
co_dim_sexo_CI                          float64
co_dim_unidade_saude_CI                 float64
co_dim_municipio_CI                     float64
co_dim_tempo                            float64
co_dim_identidade_genero_CI             float64
dt_nascimento_CI                         object
co_dim_tempo_CI                  datetime64[ns]
_mergeA                                  object
co_seq_fat_cidadao_territorio           float64
co_fat_familia_territorio               float64
_mergeB                                  object
co_fat_cad_domiciliar                   float64
_mergeC                                  object
co_dim_tipo_localizacao                 float64
co_dim_municipio_CD                     float64
co_dim_tempo_CD                  datetime64[ns]
_merge                                   object
CO_DIM_IDENTIDADE_GENERO                float64
CO_DIM_SEXO                             float64
DT_NASCIMENTO                            object
dtype: object

Deixando somente colunas de interesse para o painel

In [ ]:
cadastro_mestre_SELECTED = cadastro_mestre[['co_fat_cidadao_pec','co_dim_municipio_CI','co_dim_unidade_saude_CI','co_dim_tipo_localizacao','CO_DIM_SEXO','DT_NASCIMENTO']]
cadastro_mestre_SELECTED.shape

(135558, 6)

In [ ]:
cadastro_mestre_SELECTED.head(10)

   co_fat_cidadao_pec  co_dim_municipio_CI  co_dim_unidade_saude_CI  co_dim_tipo_localizacao  CO_DIM_SEXO        DT_NASCIMENTO
0              694899                  NaN                      NaN                      NaN          NaN                  NaN
1              694900                  NaN                      NaN                      NaN          NaN                  NaN
2              694901                  NaN                      NaN                      NaN          NaN                  NaN
3              749364               9196.0                    498.0                      NaN          2.0  1992-03-21 00:00:00
4              694902                  NaN                      NaN                      NaN          NaN                  NaN
5              718541               9196.0                    505.0                      2.0          1.0  2013-02-28 00:00:00
6              813648                  NaN                      NaN                      NaN          2.0                  NaN
7              694903                  NaN                      NaN                      NaN          NaN                  NaN
8              704909               9196.0                    500.0                      2.0          2.0  1986-04-13 00:00:00
9              694943                  NaN                      NaN                      NaN          NaN                  NaN

In [ ]:
cadastro_mestre_SELECTED.head(10)

   co_fat_cidadao_pec  co_dim_municipio_CI  co_dim_unidade_saude_CI  co_dim_tipo_localizacao  CO_DIM_SEXO        DT_NASCIMENTO
0              694899                  NaN                      NaN                      NaN          NaN                  NaN
1              694900                  NaN                      NaN                      NaN          NaN                  NaN
2              694901                  NaN                      NaN                      NaN          NaN                  NaN
3              749364               9196.0                    498.0                      NaN          2.0  1992-03-21 00:00:00
4              694902                  NaN                      NaN                      NaN          NaN                  NaN
5              718541               9196.0                    505.0                      2.0          1.0  2013-02-28 00:00:00
6              813648                  NaN                      NaN                      NaN          2.0                  NaN
7              694903                  NaN                      NaN                      NaN          NaN                  NaN
8              704909               9196.0                    500.0                      2.0          2.0  1986-04-13 00:00:00
9              694943                  NaN                      NaN                      NaN          NaN                  NaN

###Atendimento Individual

In [ ]:
#tb_fat_at_ind_2018_2019 = tb_fat_at_ind_2018.append(tb_fat_at_ind_2019, ignore_index=True)

In [ ]:
#tb_fat_at_ind_2018_2019_2020 = tb_fat_at_ind_2018_2019.append(tb_fat_at_ind, ignore_index=True)

In [ ]:
tb_fat_at_ind_2018_2019_2020.shape

(859392, 61)

In [ ]:
def change_string(x):
    return x.replace('ABP009', 'R96').replace("ABP019","A77").replace('ABP008', 'T91').replace('ABP006', 'T90').replace('ABP010', 'R95').replace('ABP020', 'A78').replace('ABP018', 'A78').replace('ABP005', 'K86').replace('ABP007', 'T82').replace('ABP001', 'W78').replace('ABP004', 'A98').replace('ABP002', 'W18').replace('ABP024', 'K22').replace('ABP015', '57').replace('ABP011', 'P17').replace('ABP017', 'A70').replace('ABP012', 'P16').replace('ABP013', 'P19')
tb_fat_at_ind_2018_2019_2020["ds_filtro_ciaps"] = tb_fat_at_ind_2018_2019_2020["ds_filtro_ciaps"].map(lambda x: change_string(x))

In [ ]:
tb_fat_at_ind_2018_2019_2020['ds_filtro_ciaps'].value_counts()

||                               484882
|A98|                             86858
|W78|                             25364
|K86|                             19730
|A98|A98|                         12438
                                  ...
|D97|T89|K86|                         1
|D18|T93|T05|K86|P01|T82|T90|         1
|Y70|Y27|                             1
|R97|R97|                             1
|L03|S96|                             1
Name: ds_filtro_ciaps, Length: 25802, dtype: int64

In [ ]:
tb_fat_at_ind_2018_2019_2020['st_ficou_em_observacao'] = np.where(tb_fat_at_ind_2018_2019_2020.st_ficou_em_observacao == '1', '-30','')
tb_fat_at_ind_2018_2019_2020['st_encaminhamento_intern_hospi'] = np.where(tb_fat_at_ind_2018_2019_2020.st_encaminhamento_intern_hospi == 1, '-67','')
tb_fat_at_ind_2018_2019_2020['st_encaminhamento_urgencia'] = np.where(tb_fat_at_ind_2018_2019_2020.st_encaminhamento_urgencia == 1, '-67','')
tb_fat_at_ind_2018_2019_2020['st_gravidez_planejada'] = np.where(tb_fat_at_ind_2018_2019_2020.st_gravidez_planejada == '1', 'W99','')
tb_fat_at_ind_2018_2019_2020['st_nasf_avaliacao_diagnostico'] = np.where(tb_fat_at_ind_2018_2019_2020.st_nasf_avaliacao_diagnostico == 1, '-66','')
tb_fat_at_ind_2018_2019_2020['st_encaminhamento_interno_dia'] = np.where(tb_fat_at_ind_2018_2019_2020.st_encaminhamento_interno_dia == 1, '-46','')
tb_fat_at_ind_2018_2019_2020['st_encaminhamento_intersetoria'] = np.where(tb_fat_at_ind_2018_2019_2020.st_encaminhamento_intersetoria == 1, '-62','')

In [ ]:
tb_fat_at_ind_2018_2019_2020['CIAP'] = tb_fat_at_ind_2018_2019_2020[['st_ficou_em_observacao','st_encaminhamento_intern_hospi','st_encaminhamento_urgencia','st_gravidez_planejada','st_nasf_avaliacao_diagnostico',
                                                                     'st_encaminhamento_interno_dia','st_encaminhamento_intersetoria']].agg('|'.join, axis=1)

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020.drop(columns=['st_ficou_em_observacao','st_encaminhamento_intern_hospi','st_encaminhamento_urgencia','st_gravidez_planejada',
                                                                               'st_nasf_avaliacao_diagnostico','st_encaminhamento_interno_dia','st_encaminhamento_intersetoria'])

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'co_dim_municipio': 'co_dim_municipio_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'co_dim_tipo_ficha': 'co_dim_tipo_ficha_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'co_dim_tempo': 'co_dim_tempo_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'nu_uuid_ficha': 'nu_uuid_ficha_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'dt_nascimento': 'dt_nascimento_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'co_dim_faixa_etaria': 'co_dim_faixa_etaria_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'co_dim_sexo': 'co_dim_sexo_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'nu_peso': 'nu_peso_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'nu_altura': 'nu_altura_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'nu_prontuario': 'nu_prontuario_AI'})
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.rename(columns={'CIAP': 'CIAP_AI'})

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP[['co_fat_cidadao_pec','co_dim_municipio_AI','co_dim_unidade_saude_1','co_dim_unidade_saude_2','co_dim_tempo_AI','dt_nascimento_AI',
                                                                       'co_dim_tempo_dum','nu_idade_gestacional_semanas','nu_gestas_previas','st_vacinacao_em_dia','ds_filtro_proced_avaliados',
                                                                       'ds_filtro_proced_solicitados','ds_filtro_cids','ds_filtro_ciaps','co_dim_sexo_AI','CIAP_AI']]

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP['co_dim_tempo_AI'] = tb_fat_at_ind_2018_2019_2020_CIAP['co_dim_tempo_AI'].astype(str)
tb_fat_at_ind_2018_2019_2020_CIAP['cad_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP[['co_dim_tempo_AI','ds_filtro_proced_solicitados']].agg(':'.join, axis=1)
tb_fat_at_ind_2018_2019_2020_CIAP['cad_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP[['co_dim_tempo_AI','ds_filtro_proced_avaliados']].agg(':'.join, axis=1)

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP.head(10)

  co_fat_cidadao_pec  co_dim_municipio_AI  co_dim_unidade_saude_1  co_dim_unidade_saude_2 co_dim_tempo_AI dt_nascimento_AI  co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia ds_filtro_proced_avaliados ds_filtro_proced_solicitados ds_filtro_cids ds_filtro_ciaps  co_dim_sexo_AI CIAP_AI cad_proced_solicitados cad_proced_avaliados
0           797080.0                 9196                     497                       1        20180617       2013-12-01          30001231                                                                                            ||                           ||          |J03|              ||               2  ||||||            20180617:||          20180617:||
1                                    9196                     497                       1        20180617       2008-06-10          30001231                                                                                            ||                           ||          |J03|              ||               2  ||||||            20180617:||          20180617:||
2           719507.0                 9196                     497                       1        20180617       1951-06-16          30001231                                                                                            ||                           ||             ||              ||               1  ||||||            20180617:||          20180617:||
3           697974.0                 9196                     497                       1        20180617       2011-02-26          30001231                                                                                            ||                           ||             ||              ||               2  ||||||            20180617:||          20180617:||
4           719507.0                 9196                     497                       1        20180617       1951-06-16          30001231                                                                                            ||                           ||         |T242|              ||               1  ||||||            20180617:||          20180617:||
5           722770.0                 9196                     497                       1        20180617       1971-04-21          30001231                                                                                            ||                           ||         |T519|              ||               1  ||||||            20180617:||          20180617:||
6                                    9196                     497                       1        20180617       1985-05-28          30001231                                                                                            ||                           ||          |J00|              ||               1  ||||||            20180617:||          20180617:||
7           697974.0                 9196                     497                       1        20180617       2011-02-26          30001231                                                                                            ||                           ||         |N390|              ||               2  ||||||            20180617:||          20180617:||
8           727133.0                 9196                     497                       1        20180617       1991-08-01          30001231                                                                                            ||                           ||             ||              ||               2  ||||||            20180617:||          20180617:||
9           798299.0                 9196                     497                       1        20180617       2013-10-01          30001231                                                                                            ||                           ||             ||              ||               1  ||||||            20180617:||          20180617:||

In [ ]:
'''
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str.replace('|',',')
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str.replace('|',',')
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str.replace('|',',')
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str.replace('|',',')
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str[1:]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str[:-1]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str[1:]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str[:-1]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str[1:]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str[:-1]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str[1:]
tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str[:-1]
'''

"\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str.replace('|',',')\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str.replace('|',',')\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str.replace('|',',')\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str.replace('|',',')\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str[1:]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_cids'].str[:-1]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str[1:]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_ciaps'].str[:-1]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str[1:]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_avaliados'].str[:-1]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str[1:]\ntb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'] = tb_fat_at_ind_2018_2019_2020_CIAP['ds_filtro_proced_solicitados'].str[:-1]\n"

## Linkage Cadastro Mestre com Atendimento Individual

In [ ]:
tb_fat_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.astype(str)
tb_fat_at_ind_2018_2019_2020_CIAP['CIAP_AI'] = tb_fat_at_ind_2018_2019_2020_CIAP['CIAP_AI'].apply(str).str.replace('None','')
tb_fat_at_ind_2018_2019_2020_CIAP['CIAP_AI_COMB'] = tb_fat_at_ind_2018_2019_2020_CIAP[['ds_filtro_ciaps','CIAP_AI']].agg(','.join, axis=1).astype(str)
pivot_at_ind_2018_2019_2020_CIAP = tb_fat_at_ind_2018_2019_2020_CIAP.groupby('co_fat_cidadao_pec').agg({'co_dim_municipio_AI':','.join, 
                                                                                  'co_dim_unidade_saude_1':','.join, 
                                                                                  'co_dim_unidade_saude_2':','.join, 
                                                                                  'co_dim_tempo_AI':','.join, 
                                                                                  'dt_nascimento_AI':','.join, 
                                                                                  'co_dim_sexo_AI':','.join,
                                                                                  'co_dim_tempo_dum':','.join, 
                                                                                  'nu_idade_gestacional_semanas':','.join, 
                                                                                  'nu_gestas_previas':','.join, 
                                                                                  'st_vacinacao_em_dia':','.join, 
                                                                                  'cad_proced_solicitados':','.join, 
                                                                                  'cad_proced_avaliados':','.join, 
                                                                                  'ds_filtro_cids':','.join, 
                                                                                  'CIAP_AI_COMB':','.join}).reset_index()
pivot_at_ind_2018_2019_2020_CIAP.shape

(82718, 15)

In [ ]:
cadastro_mestre_SELECTED['co_fat_cidadao_pec'] = cadastro_mestre_SELECTED['co_fat_cidadao_pec'].astype(str)
pivot_at_ind_2018_2019_2020_CIAP['co_fat_cidadao_pec'] = pivot_at_ind_2018_2019_2020_CIAP['co_fat_cidadao_pec'].str[:-2]
MESTRE_JOIN_PIVOT_AT_IND = cadastro_mestre_SELECTED.merge(pivot_at_ind_2018_2019_2020_CIAP, on='co_fat_cidadao_pec', how='left', indicator=True)
MESTRE_JOIN_PIVOT_AT_IND['_merge'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

both          82717
left_only     52841
right_only        0
Name: _merge, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND.shape

(135558, 21)

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND.head(10)

  co_fat_cidadao_pec  co_dim_municipio_CI  co_dim_unidade_saude_CI  co_dim_tipo_localizacao  CO_DIM_SEXO        DT_NASCIMENTO                 co_dim_municipio_AI       co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI                                   dt_nascimento_AI co_dim_sexo_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados                                   ds_filtro_cids                                       CIAP_AI_COMB     _merge
0             694899                  NaN                      NaN                      NaN          NaN                  NaN       9196,9196,9196,9196,9196,9196      505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...  1993-08-06,1993-08-06,1993-08-06,1993-08-06,19...    4,4,4,4,4,4  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...                        |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...       both
1             694900                  NaN                      NaN                      NaN          NaN                  NaN                                9196                          505                      1                                           20140826                                         1962-09-24              4                                           30001231                                                                                                           20140826:||                                        20140826:||                                               ||                                   |P16|K86|,||||||       both
2             694901                  NaN                      NaN                      NaN          NaN                  NaN                                9196                          505                      1                                           20140826                                         1966-12-16              4                                           30001231                                                                                                           20140826:||                                        20140826:||                                               ||                                       |K86|,||||||       both
3             749364               9196.0                    498.0                      NaN          2.0  1992-03-21 00:00:00                                 NaN                          NaN                    NaN                                                NaN                                                NaN            NaN                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                                              NaN                                                NaN  left_only
4             694902                  NaN                      NaN                      NaN          NaN                  NaN                                9196                          505                      1                                           20140826                                         2001-06-01              4                                           30001231                                                                                                           20140826:||                                        20140826:||                                           |K529|                                          ||,||||||       both
5             718541               9196.0                    505.0                      2.0          1.0  2013-02-28 00:00:00  9196,9196,9196,9196,9196,9196,9196  505,505,505,505,505,505,505          1,1,1,1,1,1,1  20190312,20190709,20210715,20220104,20171024,2...  2013-02-28,2013-02-28,2013-02-28,2013-02-28,20...  1,1,1,1,1,1,1  30001231,30001231,30001231,30001231,30001231,3...                       ,,,,,,            ,,,,,,              ,,,,,,  20190312:||,20190709:||,20210715:||,20220104:|...  20190312:||,20190709:||,20210715:||,20220104:|...  |H10|,|Z001|,|T141|,|B349|,|K529|,|H103|,|Z001|  ||,||||||,||,||||||,||,||||||,||,||||||,||,|||...       both
6             813648                  NaN                      NaN                      NaN          2.0                  NaN                                 NaN                          NaN                    NaN                                                NaN                                                NaN            NaN                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                                              NaN                                                NaN  left_only
7             694903                  NaN                      NaN                      NaN          NaN                  NaN                                9196                          505                      1                                           20140826                                         1978-01-20              4                                           30001231                                                                                                           20140826:||                                        20140826:||                                           |N309|                                          ||,||||||       both
8             704909               9196.0                    500.0                      2.0          2.0  1986-04-13 00:00:00                                 NaN                          NaN                    NaN                                                NaN                                                NaN            NaN                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                                              NaN                                                NaN  left_only
9             694943                  NaN                      NaN                      NaN          NaN                  NaN                                9196                          505                      1                                           20140923                                         2011-02-26              4                                           30001231                                                                                                           20140923:||                                        20140923:||                                               ||                                       |A98|,||||||       both

## Atendimento Individual Filter Hipetensão

In [ ]:
match = ['K86','K87','W81','I10','I11','I110','I119','I12','I120','I129','I13','I130','I131','I132','I139','I15','I150','I151','I152','I158','I159','I270','I272','O10','O100','O101','O102','O103',
         'O104','O109','ABP005']

def string_finder(row, words):
    if any(word in field for field in row for word in words):
        return True
    return False

MESTRE_JOIN_PIVOT_AT_IND['isContained_HIPERTENSAO'] = MESTRE_JOIN_PIVOT_AT_IND.astype(str).apply(string_finder, words=match, axis=1)

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND['isContained_HIPERTENSAO'].value_counts()

False    118984
True      16574
Name: isContained_HIPERTENSAO, dtype: int64

## Atendimento Individual Filter Diabeitco

In [ ]:
match = ['T89','T90','W85','E10','E100','E101','E102','E103','E104','E105','E106','E107','E108','E109','E11','E110','E111','E112','E113','E114','E115','E116','E117','E118','E119','E12','E120',
         'E121','E122','E123','E124','E125','E126','E127','E128','E129','E13','E130','E131','E132','E133','E134','E135','E136','E137','E138','E139','E14','E140','E141','E142','E143','E144','E145',
         'E146','E147','E148','E149','O24','O240','O241','O242','O243','O244','O249','P702','ABP006']

def string_finder(row, words):
    if any(word in field for field in row for word in words):
        return True
    return False

MESTRE_JOIN_PIVOT_AT_IND['isContained_DIABETE'] = MESTRE_JOIN_PIVOT_AT_IND.astype(str).apply(string_finder, words=match, axis=1)

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND['isContained_DIABETE'].value_counts()

False    129051
True       6507
Name: isContained_DIABETE, dtype: int64

## Atendimento Individual Filter Gestantes

In [ ]:
match = ['W03','W05','W71','W78','W79','W80','W81','W84','W85','ABP001','O11','O12','O120','O121','O122','O13','O14','O140','O141','O149','O15','O150','O151','O159','O16','O20','O200','O2O8','O2O9','O21','O210', 
         'O211','O212','O218','O219','O22','O220','O221','O222','O223','O224','O225','O228','O229','O23','O230','O231','O232','O233','O234','O235','O239','O24','O240','O241','O242','O243','O244','O249','O25', 
         'O26','O260','O261','O263','O264','O265','O268','O269','O28','O280','O281','O282','O283','O284','O285','O288','O289','O29','O290','O291','O292','O293','O294','O295','O296','O298','O299','O30','O300',
         'O3O1','O3O2','O3O8','O3O9','O31','O311','O312','O318','O32','O320','O321','O322','O323','O324','O325','O326','O328','O329','O33','O330','O331','O332','O333','O334','O335','O336','O337','O338','O339', 
         'O34','O340','O341','O342','O343','O344','O345','O346','O347','O348','O349','O35','O350','O351','O352','O353','O354','O355','O356','O357','O358','O359','O36','O360','O361','O362','O363','O365','O366',
         'O367','O368','O369','O40','O41','O410','O411','O418','O419','O43','O430','O431','O438','O439','O44','O440','O441','O46','O460','O468','O469','O47','O470','O471','O479','O48','Z321','Z33','Z34','Z340',
         'Z348','Z349','Z35','Z350','Z351','Z352','Z353','Z354','Z357','Z358','Z359','Z640']

def string_finder(row, words):
    if any(word in field for field in row for word in words):
        return True
    return False

MESTRE_JOIN_PIVOT_AT_IND['isContained_GESTANTE'] = MESTRE_JOIN_PIVOT_AT_IND.astype(str).apply(string_finder, words=match, axis=1)

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND['isContained_GESTANTE'].value_counts()

False    131639
True       3919
Name: isContained_GESTANTE, dtype: int64

##Linked Cadastro Mestre with At HIPER GEST DIAB with UNIDADES

In [ ]:
unidades['co_seq_dim_unidade_saude'] = unidades['co_seq_dim_unidade_saude'].astype(int)
unidades.rename(columns={'co_seq_dim_unidade_saude': 'co_dim_unidade_saude'}, inplace=True)
unidades.head(5)

   co_dim_unidade_saude  nu_cnes                                 no_unidade_saude
0                     1        -                                    Não informado
1                   530  1234567                              CNES NÃO ENCONTRADO
2                   501  2163500       Ouro Preto Unidade Basica de Saude Bauxita
3                   494  2163519   Ouro Preto Unidade Basica de Saude Padre Faria
4                   512  2163527  Ouro Preto Unidade de Apoio Morro Sao Sebastiao

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND['co_dim_unidade_saude_CI'] = MESTRE_JOIN_PIVOT_AT_IND['co_dim_unidade_saude_CI'].replace(np.nan, 0)
MESTRE_JOIN_PIVOT_AT_IND['co_dim_unidade_saude_CI'] = MESTRE_JOIN_PIVOT_AT_IND['co_dim_unidade_saude_CI'].astype(int)
MESTRE_JOIN_PIVOT_AT_IND.rename(columns={'co_dim_unidade_saude_CI': 'co_dim_unidade_saude'}, inplace=True)
MESTRE_JOIN_PIVOT_AT_IND = MESTRE_JOIN_PIVOT_AT_IND.drop(columns=['_merge'])
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES = MESTRE_JOIN_PIVOT_AT_IND.merge(unidades, on='co_dim_unidade_saude', how='left', indicator=True)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES['_merge'].value_counts()

both          82634
left_only     52924
right_only        0
Name: _merge, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES.head(5)

  co_fat_cidadao_pec  co_dim_municipio_CI  co_dim_unidade_saude  co_dim_tipo_localizacao  CO_DIM_SEXO        DT_NASCIMENTO            co_dim_municipio_AI   co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI                                   dt_nascimento_AI co_dim_sexo_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados             ds_filtro_cids                                       CIAP_AI_COMB  isContained_HIPERTENSAO  isContained_DIABETE  isContained_GESTANTE  nu_cnes                                  no_unidade_saude     _merge
0             694899                  NaN                     0                      NaN          NaN                  NaN  9196,9196,9196,9196,9196,9196  505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...  1993-08-06,1993-08-06,1993-08-06,1993-08-06,19...    4,4,4,4,4,4  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...                    False                False                  True      NaN                                               NaN  left_only
1             694900                  NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         1962-09-24              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||                     True                False                 False      NaN                                               NaN  left_only
2             694901                  NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         1966-12-16              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                       |K86|,||||||                     True                False                 False      NaN                                               NaN  left_only
3             749364               9196.0                   498                      NaN          2.0  1992-03-21 00:00:00                            NaN                      NaN                    NaN                                                NaN                                                NaN            NaN                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN                    False                False                 False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao       both
4             694902                  NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         2001-06-01              4                                           30001231                                                                                                           20140826:||                                        20140826:||                     |K529|                                          ||,||||||                    False                False                 False      NaN                                               NaN  left_only

## Linked Cadastro Mestre with Municipios

In [ ]:
municipio.head(5)

   co_seq_dim_municipio   no_municipio  co_ibge co_dim_uf  st_registro_valido            ds_filtro
0                     1  Não informado        -                             1
1                  9788         ALEGRE  3200201     237.0                   1    3200201 alegre ES
2                 10275        ALIANÇA  2600708     246.0                   1   2600708 alianca PE
3                 10183       ALMADINA  2900900     234.0                   1  2900900 almadina BA
4                  9254       ALMENARA  3101706     242.0                   1  3101706 almenara MG

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES.dtypes

co_fat_cidadao_pec                object
co_dim_municipio_CI              float64
co_dim_unidade_saude               int64
co_dim_tipo_localizacao          float64
CO_DIM_SEXO                      float64
DT_NASCIMENTO                     object
co_dim_municipio_AI               object
co_dim_unidade_saude_1            object
co_dim_unidade_saude_2            object
co_dim_tempo_AI                   object
dt_nascimento_AI                  object
co_dim_sexo_AI                    object
co_dim_tempo_dum                  object
nu_idade_gestacional_semanas      object
nu_gestas_previas                 object
st_vacinacao_em_dia               object
cad_proced_solicitados            object
cad_proced_avaliados              object
ds_filtro_cids                    object
CIAP_AI_COMB                      object
isContained_HIPERTENSAO             bool
isContained_DIABETE                 bool
isContained_GESTANTE                bool
nu_cnes                           object
no_unidade_saude                  object
_merge                          category
dtype: object

In [ ]:
municipio.rename(columns={'co_seq_dim_municipio': 'co_dim_municipio'}, inplace=True)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES.rename(columns={'co_dim_municipio_CI': 'co_dim_municipio'}, inplace=True)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES.drop(columns=['_merge'])
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES.merge(municipio, on='co_dim_municipio', how='left', indicator=True)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['_merge'].value_counts()

both          82634
left_only     52924
right_only        0
Name: _merge, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_ibge'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_ibge'].astype(str)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_ibge'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_ibge'].str[:-2]
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.head(5)

  co_fat_cidadao_pec  co_dim_municipio  co_dim_unidade_saude  co_dim_tipo_localizacao  CO_DIM_SEXO        DT_NASCIMENTO            co_dim_municipio_AI   co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI                                   dt_nascimento_AI co_dim_sexo_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados             ds_filtro_cids                                       CIAP_AI_COMB  isContained_HIPERTENSAO  isContained_DIABETE  isContained_GESTANTE  nu_cnes                                  no_unidade_saude no_municipio co_ibge co_dim_uf  st_registro_valido              ds_filtro     _merge
0             694899               NaN                     0                      NaN          NaN                  NaN  9196,9196,9196,9196,9196,9196  505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...  1993-08-06,1993-08-06,1993-08-06,1993-08-06,19...    4,4,4,4,4,4  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...                    False                False                  True      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only
1             694900               NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         1962-09-24              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only
2             694901               NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         1966-12-16              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                       |K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only
3             749364            9196.0                   498                      NaN          2.0  1992-03-21 00:00:00                            NaN                      NaN                    NaN                                                NaN                                                NaN            NaN                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN                    False                False                 False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao   OURO PRETO   31461     242.0                 1.0  3146107 ouro preto MG       both
4             694902               NaN                     0                      NaN          NaN                  NaN                           9196                      505                      1                                           20140826                                         2001-06-01              4                                           30001231                                                                                                           20140826:||                                        20140826:||                     |K529|                                          ||,||||||                    False                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only

##Clean Linkage Final and Preprocessing for PAINEL

### Juntar Sexo e data nascimento

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['CO_DIM_SEXO'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['CO_DIM_SEXO'].astype(str)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['CO_DIM_SEXO'].value_counts()

nan    46507
2.0    46387
1.0    42664
Name: CO_DIM_SEXO, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'].str.split(',').str[0]
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'].astype(str)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'].value_counts()

nan    52841
2      45643
1      35727
4       1347
Name: co_dim_sexo_AI, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.assign(**{
    'SEXO_FINAL': MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['CO_DIM_SEXO'].mask(
        lambda x: x == 'nan', MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['co_dim_sexo_AI'])})

In [ ]:
#MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES['SEXO_FINAL']=pd.to_numeric(MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES['SEXO_FINAL'])
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['SEXO_FINAL']=MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['SEXO_FINAL'].astype(str)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['SEXO_FINAL'].value_counts()

2.0    46387
1.0    42664
nan    19750
2      13906
1      11646
4       1205
Name: SEXO_FINAL, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.dtypes

co_fat_cidadao_pec                object
co_dim_municipio                 float64
co_dim_unidade_saude               int64
co_dim_tipo_localizacao          float64
CO_DIM_SEXO                       object
DT_NASCIMENTO                     object
co_dim_municipio_AI               object
co_dim_unidade_saude_1            object
co_dim_unidade_saude_2            object
co_dim_tempo_AI                   object
dt_nascimento_AI                  object
co_dim_sexo_AI                    object
co_dim_tempo_dum                  object
nu_idade_gestacional_semanas      object
nu_gestas_previas                 object
st_vacinacao_em_dia               object
cad_proced_solicitados            object
cad_proced_avaliados              object
ds_filtro_cids                    object
CIAP_AI_COMB                      object
isContained_HIPERTENSAO             bool
isContained_DIABETE                 bool
isContained_GESTANTE                bool
nu_cnes                           object
no_unidade_saude                  object
no_municipio                      object
co_ibge                           object
co_dim_uf                         object
st_registro_valido               float64
ds_filtro                         object
_merge                          category
SEXO_FINAL                        object
dtype: object

In [ ]:
def conditions(x):
    if x == '2':
        return "Feminino"
    elif x == '1':
        return "Masculino"
    elif x == '2.0':
        return "Feminino"
    elif x == '1.0':
        return "Masculino"
    else:
        return "NaN"

func = np.vectorize(conditions)
energy_class = func(MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO["SEXO_FINAL"])

MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO["SEXO_FINAL"] = energy_class

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.head(5)

  co_fat_cidadao_pec  co_dim_municipio  co_dim_unidade_saude  co_dim_tipo_localizacao CO_DIM_SEXO        DT_NASCIMENTO            co_dim_municipio_AI   co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI                                   dt_nascimento_AI co_dim_sexo_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados             ds_filtro_cids                                       CIAP_AI_COMB  isContained_HIPERTENSAO  isContained_DIABETE  isContained_GESTANTE  nu_cnes                                  no_unidade_saude no_municipio co_ibge co_dim_uf  st_registro_valido              ds_filtro     _merge SEXO_FINAL
0             694899               NaN                     0                      NaN         nan                  NaN  9196,9196,9196,9196,9196,9196  505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...  1993-08-06,1993-08-06,1993-08-06,1993-08-06,19...              4  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...                    False                False                  True      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN
1             694900               NaN                     0                      NaN         nan                  NaN                           9196                      505                      1                                           20140826                                         1962-09-24              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN
2             694901               NaN                     0                      NaN         nan                  NaN                           9196                      505                      1                                           20140826                                         1966-12-16              4                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                       |K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN
3             749364            9196.0                   498                      NaN         2.0  1992-03-21 00:00:00                            NaN                      NaN                    NaN                                                NaN                                                NaN            nan                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN                    False                False                 False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao   OURO PRETO   31461     242.0                 1.0  3146107 ouro preto MG       both   Feminino
4             694902               NaN                     0                      NaN         nan                  NaN                           9196                      505                      1                                           20140826                                         2001-06-01              4                                           30001231                                                                                                           20140826:||                                        20140826:||                     |K529|                                          ||,||||||                    False                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.drop(columns=['CO_DIM_SEXO','co_dim_sexo_AI'])

### Trasformar 2 Urbano 3 Rural

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.dtypes

co_fat_cidadao_pec                object
co_dim_municipio                 float64
co_dim_unidade_saude               int64
co_dim_tipo_localizacao          float64
DT_NASCIMENTO                     object
co_dim_municipio_AI               object
co_dim_unidade_saude_1            object
co_dim_unidade_saude_2            object
co_dim_tempo_AI                   object
dt_nascimento_AI                  object
co_dim_tempo_dum                  object
nu_idade_gestacional_semanas      object
nu_gestas_previas                 object
st_vacinacao_em_dia               object
cad_proced_solicitados            object
cad_proced_avaliados              object
ds_filtro_cids                    object
CIAP_AI_COMB                      object
isContained_HIPERTENSAO             bool
isContained_DIABETE                 bool
isContained_GESTANTE                bool
nu_cnes                           object
no_unidade_saude                  object
no_municipio                      object
co_ibge                           object
co_dim_uf                         object
st_registro_valido               float64
ds_filtro                         object
_merge                          category
SEXO_FINAL                        object
dtype: object

In [ ]:
def conditions(x):
    if x == 2:
        return "Urbano"
    elif x == 3:
        return "Rural"
    else:
        return "NaN"

func = np.vectorize(conditions)
change_column_directly = func(MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO["co_dim_tipo_localizacao"])

MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO["co_dim_tipo_localizacao"] = change_column_directly

### Create Group Ages

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'].str.split(',').str[0]
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'].apply(pd.Timestamp) 
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO'] = pd.to_datetime(MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO'], format ='%Y-%m-%d', errors='coerce')
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'].value_counts()

1986-08-15    14
1995-06-13    14
1998-02-04    14
1997-09-02    14
1997-04-10    14
              ..
1937-08-10     1
2000-01-20     1
1986-12-26     1
2013-03-30     1
1942-09-22     1
Name: dt_nascimento_AI, Length: 27685, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO'].value_counts()

1974-06-10    23
1982-06-08    14
1975-06-28    14
2005-11-02    13
1962-02-07    13
              ..
1924-03-19     1
1947-10-21     1
1929-08-18     1
1940-10-25     1
1936-11-25     1
Name: DT_NASCIMENTO, Length: 27919, dtype: int64

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.assign(**{
    'DT_NASCIMENTO_FINAL': MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['dt_nascimento_AI'].mask(
        lambda x: x == 'nan', MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO'])})

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL'].value_counts()

1986-08-15    14
1995-06-13    14
1998-02-04    14
1997-09-02    14
1997-04-10    14
              ..
1937-08-10     1
2000-01-20     1
1986-12-26     1
2013-03-30     1
1942-09-22     1
Name: DT_NASCIMENTO_FINAL, Length: 27685, dtype: int64

In [ ]:
#Calcular Idade
now = pd.Timestamp('now')
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL'].where(MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL'] < now, MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL'] -  np.timedelta64(100, 'Y')) 
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['AGE'] = (now - MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['DT_NASCIMENTO_FINAL']).astype('<m8[Y]') 
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.head(5)

  co_fat_cidadao_pec  co_dim_municipio  co_dim_unidade_saude co_dim_tipo_localizacao DT_NASCIMENTO            co_dim_municipio_AI   co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI dt_nascimento_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados             ds_filtro_cids                                       CIAP_AI_COMB  isContained_HIPERTENSAO  isContained_DIABETE  isContained_GESTANTE  nu_cnes                                  no_unidade_saude no_municipio co_ibge co_dim_uf  st_registro_valido              ds_filtro     _merge SEXO_FINAL DT_NASCIMENTO_FINAL   AGE
0             694899               NaN                     0                     NaN           NaT  9196,9196,9196,9196,9196,9196  505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...       1993-08-06  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...                    False                False                  True      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1993-08-06  28.0
1             694900               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       1962-09-24                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1962-09-24  59.0
2             694901               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       1966-12-16                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                       |K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1966-12-16  55.0
3             749364            9196.0                   498                     NaN    1992-03-21                            NaN                      NaN                    NaN                                                NaN              NaT                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN                    False                False                 False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao   OURO PRETO   31461     242.0                 1.0  3146107 ouro preto MG       both   Feminino                 NaT   NaN
4             694902               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       2001-06-01                                           30001231                                                                                                           20140826:||                                        20140826:||                     |K529|                                          ||,||||||                    False                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          2001-06-01  21.0

In [ ]:
def age_group(row):
   if row['AGE'] >= 0 and row['AGE'] <=5:
     return "Faixa 1"
   elif row['AGE'] >= 6 and row['AGE'] <=12:
     return "Faixa 2"
   elif row['AGE'] >= 13 and row['AGE'] <=17:
     return "Faixa 3"
   elif row['AGE'] >= 18 and row['AGE'] <=29:
     return "Faixa 4"
   elif row['AGE'] >= 30 and row['AGE'] <=44:
     return "Faixa 5"
   elif row['AGE'] >= 45 and row['AGE'] <=59:
     return "Faixa 6"
   elif row['AGE'] >= 60:
     return "Faixa 7"
   else:
     return "NaN"

MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO['FAIXA_ETARIA'] = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.apply (lambda row: age_group(row), axis=1)
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.head(5)

  co_fat_cidadao_pec  co_dim_municipio  co_dim_unidade_saude co_dim_tipo_localizacao DT_NASCIMENTO            co_dim_municipio_AI   co_dim_unidade_saude_1 co_dim_unidade_saude_2                                    co_dim_tempo_AI dt_nascimento_AI                                   co_dim_tempo_dum nu_idade_gestacional_semanas nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados             ds_filtro_cids                                       CIAP_AI_COMB  isContained_HIPERTENSAO  isContained_DIABETE  isContained_GESTANTE  nu_cnes                                  no_unidade_saude no_municipio co_ibge co_dim_uf  st_registro_valido              ds_filtro     _merge SEXO_FINAL DT_NASCIMENTO_FINAL   AGE FAIXA_ETARIA
0             694899               NaN                     0                     NaN           NaT  9196,9196,9196,9196,9196,9196  505,505,505,497,505,505            1,1,1,1,1,1  20140826,20141114,20140624,20140624,20140605,2...       1993-08-06  30001231,30001231,30001231,20131130,30001231,3...            ,,,28.0,27.0,39.0             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...                    False                False                  True      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1993-08-06  28.0      Faixa 4
1             694900               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       1962-09-24                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1962-09-24  59.0      Faixa 6
2             694901               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       1966-12-16                                           30001231                                                                                                           20140826:||                                        20140826:||                         ||                                       |K86|,||||||                     True                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          1966-12-16  55.0      Faixa 6
3             749364            9196.0                   498                     NaN    1992-03-21                            NaN                      NaN                    NaN                                                NaN              NaT                                                NaN                          NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN                    False                False                 False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao   OURO PRETO   31461     242.0                 1.0  3146107 ouro preto MG       both   Feminino                 NaT   NaN          NaN
4             694902               NaN                     0                     NaN           NaT                           9196                      505                      1                                           20140826       2001-06-01                                           30001231                                                                                                           20140826:||                                        20140826:||                     |K529|                                          ||,||||||                    False                False                 False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN  left_only        NaN          2001-06-01  21.0      Faixa 4

### Delete unecessary Column and Rename

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.drop(columns=['DT_NASCIMENTO','dt_nascimento_AI','_merge','co_dim_unidade_saude_2','nu_idade_gestacional_semanas','co_dim_municipio','co_dim_unidade_saude_1'])
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO_RENAME = MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO.rename(columns={'co_dim_municipio_AI': 'co_municipio',
                                                                                                'co_dim_unidade_saude': 'co_unidade_saude',
                                                                                                'co_dim_tipo_localizacao': 'ds_tipo_localizacao',
                                                                                                'SEXO_FINAL': 'ds_sexo',
                                                                                                'DT_NASCIMENTO_FINAL': 'dt_nascimento',
                                                                                                'AGE': 'nu_idade',
                                                                                                'FAIXA_ETARIA': 'ds_faixa_etaria',
                                                                                                'isContained_DIABETE': 'st_diabetes',
                                                                                                'isContained_HIPERTENSAO': 'st_hipertensao',
                                                                                                'isContained_GESTANTE': 'st_gestante',
                                                                                                'co_dim_tempo_dum': 'nu_idade_gestacional',
                                                                                                'no_unidade_saude': 'ds_unidade_saude',
                                                                                                'ds_filtro_cids': 'cad_filtro_cids',
                                                                                                'CIAP_AI_COMB': 'cad_filtro_ciap',
                                                                                                'co_dim_tempo_AI': 'dt_atendimento'})

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO_RENAME.head(5)

  co_fat_cidadao_pec  co_unidade_saude ds_tipo_localizacao                   co_municipio                                     dt_atendimento                               nu_idade_gestacional nu_gestas_previas st_vacinacao_em_dia                             cad_proced_solicitados                               cad_proced_avaliados            cad_filtro_cids                                    cad_filtro_ciap  st_hipertensao  st_diabetes  st_gestante  nu_cnes                                  ds_unidade_saude no_municipio co_ibge co_dim_uf  st_registro_valido              ds_filtro   ds_sexo dt_nascimento  nu_idade ds_faixa_etaria
0             694899                 0                 NaN  9196,9196,9196,9196,9196,9196  20140826,20141114,20140624,20140624,20140605,2...  30001231,30001231,30001231,20131130,30001231,3...             ,,,,,               ,,,,,  20140826:|ABEX026|ABEX028|ABEX029|,20141114:||...  20140826:||,20141114:||,20140624:||,20140624:|...  |M629|,|M549|,||,||,||,||  ||,||||||,||,||||||,|W78|ABP022|,||||||,|W78|,...           False        False         True      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN       NaN    1993-08-06      28.0         Faixa 4
1             694900                 0                 NaN                           9196                                           20140826                                           30001231                                                                              20140826:||                                        20140826:||                         ||                                   |P16|K86|,||||||            True        False        False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN       NaN    1962-09-24      59.0         Faixa 6
2             694901                 0                 NaN                           9196                                           20140826                                           30001231                                                                              20140826:||                                        20140826:||                         ||                                       |K86|,||||||            True        False        False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN       NaN    1966-12-16      55.0         Faixa 6
3             749364               498                 NaN                            NaN                                                NaN                                                NaN               NaN                 NaN                                                NaN                                                NaN                        NaN                                                NaN           False        False        False  5324939  Ouro Preto Unidade Basica de Saude Sao Cristovao   OURO PRETO   31461     242.0                 1.0  3146107 ouro preto MG  Feminino           NaT       NaN             NaN
4             694902                 0                 NaN                           9196                                           20140826                                           30001231                                                                              20140826:||                                        20140826:||                     |K529|                                          ||,||||||           False        False        False      NaN                                               NaN          NaN       n       NaN                 NaN                    NaN       NaN    2001-06-01      21.0         Faixa 4

# Exportando para Excel

In [ ]:
MESTRE_JOIN_PIVOT_AT_IND_JOIN_UNIDADES_MUNICIPIO_RENAME.to_excel('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/OUTPUT/CADASTRO_MESTRE_JOIN_AT_IND_GEST_HIP_DIAB_JOIN_UNIDADES_CLEAN_PAINEL_PRODUCAO.xlsx')

In [ ]:
_data = pd.read_excel('/content/gdrive/Shareddrives/eSUS_Colab/PAINEL_OURO_PRETO/OUTPUT/CADASTRO_MESTRE_JOIN_AT_IND_GEST_HIP_DIAB_JOIN_UNIDADES_CLEAN_PAINEL_PRODUCAO.xlsx')

In [ ]:

gender  = {
    "Masculino": _data[ _data['ds_sexo'] == 'Masculino'].shape[0],
    "Feminino": _data[ _data['ds_sexo'] == 'Feminino'].shape[0]
}

print( gender )

{'Masculino': 54310, 'Feminino': 60293}

In [ ]:
display( _data.groupby(
   ['ds_faixa_etaria'],as_index=False
).count() )

  ds_faixa_etaria  Unnamed: 0  co_fat_cidadao_pec  co_unidade_saude  ds_tipo_localizacao  co_municipio  dt_atendimento  nu_idade_gestacional  nu_gestas_previas  st_vacinacao_em_dia  cad_proced_solicitados  cad_proced_avaliados  cad_filtro_cids  cad_filtro_ciap  st_hipertensao  st_diabetes  st_gestante  nu_cnes  ds_unidade_saude  no_municipio  co_ibge  co_dim_uf  st_registro_valido  ds_filtro  ds_sexo  dt_nascimento  nu_idade
0         Faixa 1        4347                4347              4347                 1785          4347            4347                  4347               3557                 3792                    4347                  4347             4347             4347            4347         4347         4347     2323              2323          2323     4347       2323                2323       2323     4347           4347      4347
1         Faixa 2        6076                6076              6076                 3366          6076            6076                  6076               4602                 4790                    6076                  6076             6076             6076            6076         6076         6076     4118              4118          4118     6076       4118                4118       4118     6042           6076      6076
2         Faixa 3        4174                4174              4174                 2389          4174            4174                  4174               3170                 3214                    4174                  4174             4174             4174            4174         4174         4174     2866              2866          2866     4174       2866                2866       2866     4153           4174      4174
3         Faixa 4       16587               16587             16587                 7774         16587           16587                 16587              12512                12595                   16587                 16587            16587            16587           16587        16587        16587     9389              9389          9389    16587       9389                9389       9389    16429          16587     16587
4         Faixa 5       18441               18441             18441                 9347         18441           18441                 18441              14058                14165                   18441                 18441            18441            18441           18441        18441        18441    11229             11229         11229    18441      11229               11229      11229    18133          18441     18441
5         Faixa 6       16089               16089             16089                 8896         16089           16089                 16089              13140                13211                   16089                 16089            16089            16089           16089        16089        16089    10443             10443         10443    16089      10443               10443      10443    15834          16089     16089
6         Faixa 7       17003               17003             17003                 9513         17003           17003                 17003              14117                14201                   17003                 17003            17003            17003           17003        17003        17003    11325             11325         11325    17003      11325               11325      11325    16574          17003     17003